<%- include('./header.ejs'); %>
    <div class="container">
        <h1>Mon Dashboard</h1>
        <p>Bonjour <%= firstName %>  <%= lastName %></p>
        <p>mon email : <%= email %></p>
    </div>
<%- include('./footer.ejs'); %>