<%- include('./header.ejs'); %>
    <div class="container">
        <h1>Se connecter</h1>
        <form method="POST" action="/login">
            <div class="form">
                <% if (errors && errors.length > 0) { %>
                    <% errors.forEach(err => { %>
                     <span class="error"><%= err.msg %></span>
                    <% }) %>
                   <% } %>
              <label for="email">Email:</label>
              <input <% errors?.forEach(err => { %>
                <% if (err.code === 2) { %>
                    class="input-error" <% }
                    else {  %> value=<%= email %> <% }})%>      
              type="email" name="email" id="email" required />
              <label for="password">Mot de passe:</label>
              <input <% errors?.forEach(err => { %>
                <% if (err.code === 1) { %>
                    class="input-error" <% } 
                     else {  %> value=<%= password %> <% }})%>      
              type="password" name="password" id="password" required />
              <button type="submit">Connexion</button>
            </div>
          </form>
    </div>
<%- include('./footer.ejs'); %>
